body {
    background: url(imagens/fundo5.png);
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

#menu {
    float: right;
}

#menu a {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-decoration: none;
    color: white;
    padding: 10px;
}

#menu {
    margin: 15px;
}

#menu a:hover {
    background: gainsboro;
    color: black;
    border-radius: 10px;
}

@keyframes imagem {
    from {
        width: 10px;
    }

    to {
        width: 250px;
    }
}

#conteudo img {
    width: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 200px;
    position: relative;
    animation: imagem 4s;
}


#conteudo {
    color: white;
    text-align: center;
    font-size: 25px;
    animation: fadeSlide 3s ease-out;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


#topo h2 {
    margin: 0px;
    padding: 15px;
    color: white;
}

#topo {
    background: rgb(63, 63, 63);
}

#habilidades h1 {
    text-align: center;
    font-size: 50px;
}

#htmlcssjs,
#mysql,
#csharp,
#git {
    width: 800px;
    background: gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

@keyframes bonitinho {
    from {
        background: gray;
        left: -500px;
    }

    to {
        background: gray;

        left: 0px;
    }
}

#csharp,
#mysql,
#git,
#htmlcssjs,
#portaldacidade,
#gazinbank {
    position: relative;
    animation: bonitinho 4s;
}

#experiencias {
    text-align: center;
    font-size: 25px;
}

.nivel {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 50px;
    margin: 30px auto;
    width: fit-content;
}

#portaldacidade,
#gazinbank {
    display: flex;
    flex-direction: column;
    background: gray;
    width: 1500px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
    padding: 10px;
}



#gazinbank,
#portaldacidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    align-items: center;
    
}

#gazinbank img {
    width: 350px;
}

#projetos img {
    width: 600px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;

}

#projetos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
}

#projetos img:hover {
    border: 10px solid gray;
}

#foto {
    height: 500px;
    width: 500px;
}

#foto img {
    display: flex;
    object-fit: cover;
    border-radius: 100%;

    margin-left: 300px;
    margin-top: 300px;
    height: 350px;
    width: 350px;
}

#conteudo-sobre {
    display: flex;
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 800px;
    height: 240px;
    float: right;
    margin: -450px 250px;
}

#conteudo-sobre p {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

#habilidades a.hab,
#home a.hom,
#projeto a.pro {
    background: gainsboro;
    color: black;
    border-radius: 10px;
}